
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  {% for message in get_flashed_messages() %}
    <div style="color:#ff0000" class="flash">{{ message }}</div>
  {% endfor %}
<button type="button" id="startRec">Start</button>
<button type="button" id="stopRec" disabled>stop</button>
<script>
const mediaRecorder= null;
$("#startRec").click(function(){
 document.getElementById("stopRec").disabled = false;
  navigator.mediaDevices.getUserMedia({ audio: true })
    .then(stream => {
      const mediaRecorder = new MediaRecorder(stream);
      mediaRecorder.start();
      const audioChunks = [];
      mediaRecorder.addEventListener("dataavailable", event => {
        audioChunks.push(event.data);
      });
    $("#stopRec").click(function(){
    navigator.mediaDevices.getUserMedia({ audio: true })
    mediaRecorder.stop();
      mediaRecorder.addEventListener("stop", () => {
        const audioBlob = new Blob(audioChunks);
         $.ajax({
    type: 'POST',
    url: "{{ url_for('audio') }}",
    data: audioBlob,
    processData: false,
    contentType: false
}).done(function(data) {
       console.log(data);
});
         document.getElementById("stopRec").disabled = true;
      });
    });

    });
  });



 </script>